spring:
  application:
    name: vitrina
server:
  port: 8000



# Spring Boot Actuator Configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true